#
# requirements.in
#
# Copyright (c) 2015-2016 Junpei Kawamoto
#
# This software is released under the MIT License.
#
# http://opensource.org/licenses/mit-license.php
#
google-api-python-client
pyyaml
pycrypto
pyOpenSSL
crcmod

# This software needs `gsutil`, too, but it will be installed via downloading
# binary file directory.
# To run this software locally,
# get it from https://storage.googleapis.com/pub/gsutil.tar.gz.
